.hidden {
  display: none !important;
}

.container {
  padding: 0 20px;
  max-width: 375px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-full,
.col-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 600px;
  }

  .tablet-col-half {
    width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 900px;
  }

  .col-half {
    width: 50%;
  }
}
