.hidden {
  display: none, !important;
}

.container {
  padding: 0 20px;
  height: 100vh;
  max-width: 375px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-full,
.col-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-half {
    width: 50%;
  }

  ul {
    display: flex;
  }

  li {
    display: flex;
  }

  img {
    height: auto;
    object-fit: cover;
    margin-right: 10px;
  }

  button.search-button {
    display: inline;
    margin-left: 20px;
  }

  .ul-width {
    width: auto;
  }

  .text-left {
    text-align: left;
  }
}
