body {
  height: 100vh;
  width: 100vw;
}

p {
  line-height: 15px;
}

.font-size-48 {
  font-size: 48px;
}

.font-size-16 {
  font-size: 16px;
}

.button-styles-all {
  width: 85px;
  height: 30px;
  border: none;
  background-color: #5e86dd;
  color: white;
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 1px;
}

.box-shadow {
  box-shadow: 1px 3px 3px rgb(0 0 0 / 30%);
}

.li-styles-all {
  list-style-type: none;
}

.mobile-width-225 {
  width: 225px;
}

.margin-0-auto {
  margin: 0 auto;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.font-size-12 {
  font-size: 12px;
}

.bg-blue {
  background-color: #5e86dd;
}

.bg-grey {
  background-color: #f6f6f6;
}

.display-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-white {
  color: white;
}

.mobile-text-center {
  text-align: center;
}

.height-56 {
  height: 56px;
}

.search-bar {
  height: 36px;
  border: 1px solid #ced4da;
  padding: 6px 12px;
  width: 100%;
  letter-spacing: 0.6px;
  font-size: 16px;
  font-weight: 100;
  color: #6c757d;
}

.mobile-search-btn-hidden {
  display: none;
}

.border-radius-5 {
  border-radius: 5px;
}

.mb-13 {
  margin-bottom: 13px;
}

@media screen and (min-width: 768px) {
  .desktop-display-flex {
    display: flex;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .desktop-margin-0-10 {
    margin: 0 10px;
  }

  img {
    object-fit: cover;
  }

  .desktop-search-btn {
    display: inline;
    border-radius: 2px;
    margin-left: 20px;
  }

  .desktop-width-auto {
    width: auto;
  }

  .desktop-text-left {
    text-align: left;
  }
}

.font-alegreya-sans {
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.font-roboto {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
}
